<div class="container">
  <div class="row">
    <div class="about">
    <div class="col-sm-12">
     <h2 class="about-head">About</h2>
    </div>


  <div class="col-sm-4 col-sm-offset-4 about-content">        
        <p>Hello! My name is Valentin and I'm a web programmer self-taught. At the moment I live in Smolensk, here learning the specialty electrician.</p> 
        <p>
        I aspire to become independent full-stack rails freelancer, so I will be happy if you offer me a partnership in any startups or other kind of projects.</p> 
        <p>You can see my works at <a href="https://github.com/scum7ck?tab=repositories">github</a>, my contacts are <%= link_to "here", contacts_path %>.</p>
   </div>
</div>
  </div>
</div>
      
    
   



