<div class="container">
  <div class="row">
    <div class="contacts">
    <div class="col-sm-12">
     <h2 class="contacts-head">Contacts</h2>
    </div>


  <div class="col-sm-4 col-sm-offset-4 contacts-content">        
        <p>You can contact me via(prefers VK):</p> 
        <ul>
          <li><a href="https://telegram.me/Ternow">Telegram</a> </li>
          <li><a href="https://vk.com/dfkz1">Vkontakte</a></li>
          <li><%= mail_to "nitnelav96@mail.ru", "E-mail" %></li>
        </ul>
   </div>
</div>
  </div>
</div>
      
    
   



