 <header class="fixed-header">
    <ul>


      <div class="first-head">
        <h1 class="main-logo">Valentin Ternow</h1> <br>
        <li class="media-left"><h3>Full-stack<br>
                rails developer</h3></li>
        <li class="media-right"><h3>Youtube-blogger <br>
        student</h3></li>
      </div>


      <div class="second-head">
        <li><a href="#">Works</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contacts</a></li>
        <% if logged_in? %>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% end %>
      </div>

      <div class="social-head">
        <li>
          <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
          <li></li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
          <li></li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a> <br>
        
      </div>


      
    </ul>
    </header>